.hero {
  @media (min-width: 576px) {
    filter: blur(0);
    opacity: 1;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  opacity: 0.8;
  video {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    height: auto;
    pointer-events: none;
    opacity: 1;
    @media (max-aspect-ratio: 16/9) {
      width: auto !important;
      height: 100vh !important;
    }
  }
}
.bc-player {
  position: relative;
  display: block;
  overflow: visible;
  .bc-player__wrapper {
    padding-bottom: 56.25%;
  }
}
.video-js {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: visible;
  font-family: inherit;
  display: block;
}
#hero {
  width: 100%;
  overflow: hidden;
  @media (min-width: 576px) {
    position: relative;
  }
  &.hp-pane,
  .hp-pane {
    height: calc(100vh - 120px);
    min-height: 500px;
  }
  .hero__offset {
    @media (min-width: 576px) {
      box-shadow: 0 0 100px 100px black;
    }
    position: relative;
    background: black;
    z-index: 1;
    box-shadow: 0 0 30px 30px black;
  }
  .hero__card {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .hero__card-content {
    @media (min-width: 576px) {
      box-shadow: 0 0 80px 40px rgba(0, 0, 0, 0.65);
    }
    position: relative;
    border-radius: 0.25em;
    background: rgba(24, 24, 24, 0.96);
  }
  .mc-p-9 {
    padding: 38px;
    @media (min-width: 768px) {
      padding: 43px;
    }
    @media (min-width: 960px) {
      padding: 48px;
    }
  }
  .mc-text-h2 {
    font-size: 24px;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 960px) {
      font-size: 32px;
    }
  }
  .mc-mb-4 {
    margin-bottom: 16px;
  }
  .mc-mt-8 {
    margin-top: 24px;
    @media (min-width: 768px) {
      margin-top: 28px;
    }
    @media (min-width: 960px) {
      margin-top: 32px;
    }
  }
  .mc-opacity--muted {
    opacity: 0.6 !important;
  }
  .hero-action {
    button {
      color: #fff;
      font-weight: 700;
      line-height: 2;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .btn-link {
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
      color: #898989;
    }
    color: #fff;
  }
  .close-hero {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    @media (max-width: 576px) {
      display: none;
    }
  }
}
.mc-m-9 {
  margin: 38px 0;
}
.mc-text-h2 {
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 28px;
  }
  @media (min-width: 960px) {
    font-size: 32px;
  }
}
.mc-mt-4 {
  margin-top: 16px;
}
.mc-text-small {
  font-size: 14px;
  line-height: 1.45;
  letter-spacing: 0.01em;
}
.class-catalog__nav-item {
  cursor: pointer;
  position: relative;
  display: inline-block;
  opacity: 0.5;
  margin-right: 2rem;
  padding-bottom: 0.4rem;
  transition: opacity 0.4s ease;
  &.class-catalog__nav-item--active,
  &:hover,
  &:focus {
    opacity: 1;
  }
}
// course sample
.mc-tile {
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.mc-tile--16x9:before,
.mc-tile--widescreen-video:before {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  content: "";
}
.mc-tile__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mc-tile__component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mc-tile-image__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.mc-background.mc-background--position-y-center
  .mc-background__background-container,
.mc-background.mc-background--position-y-center
  .mc-background__content-container {
  align-items: center;
}

.mc-background.mc-background--position-x-center
  .mc-background__background-container,
.mc-background.mc-background--position-x-center
  .mc-background__content-container {
  justify-content: center;
}
.mc-background--fit-container .mc-background__background-container,
.mc-background--fit-content .mc-background__background-container {
  position: absolute;
  left: 0;
  top: 0;
}
.mc-background--loaded .mc-background__background-container {
  visibility: visible;
}
.mc-background__background-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}

.mc-background--size-cover .mc-background__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.mc-mb-1 {
  margin-bottom: 0.4rem;
}
.mc-mt-2 {
  margin-top: 0.8rem;
}
.mc-opacity--muted {
  opacity: 0.6 !important;
}
.sample-course {
  a {
    color: unset;
    &:hover {
      text-decoration: none;
    }
  }
}
.mc-mb-6 {
  margin-bottom: 2rem;
}

.mc-mt-1 {
  margin-top: 0.4rem;
}
.c-button--secondary {
  background: #272c33;
}
.c-button {
  padding: 12px 18px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background 250ms ease, box-shadow 250ms ease, opacity 250ms ease;
  vertical-align: middle;
  border: 0;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: #272c33a4;
  }
  label {
    margin: 0;
  }
}
#cat-select {
  appearance: none;

  option {
    background-color: #272c33;
    &:hover {
      background: #272c33a4;
    }
    outline: none;
    height: 26px;
  }
}
// category show case
.category-showcase-container {
  position: relative;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.02);
}
.category-trigger {
  h6 {
    font-size: 15px;
    span.material-icons {
      height: 27px;
      vertical-align: middle;
      margin-right: 15px;
    }
  }
  .d-flex {
    height: 20px;
  }
  &.active,
  &:hover {
    background: rgba(255, 255, 255, 0.02);
  }
  &:not(:last-child) {
    border-bottom: 1px solid #272c33;
  }
  cursor: pointer;
  transition: background 0.25s ease;
  padding: 20px;
  @media (min-width: 960px) {
    padding: 24px;
  }

  @media (min-width: 768px) {
    padding: 22px;
  }
}
.vjs-tech {
  width: 100%;
  left: unset !important;
}
.category-showcase-container {
  .col-lg-auto {
    @media (max-width: 992px) {
      padding-left: 15px !important;
    }
  }
  .col {
    @media (min-width: 992px) {
      padding-right: 0 !important;
    }
  }
}
