.footer {
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.02);
  .footer-block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 32px 0;
  }
  .footer-description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 32px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 0;
  }
  .footer-link {
    padding: 25px 16px;
    a {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      text-transform: capitalize;
      line-height: 28px;
      &:hover {
        text-decoration: none;
        color: white;
      }
      &:not(:last-child):after {
        padding: 0 1rem;
        content: "/";
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
