.vjs-loading-spinner {
  display: none;
}
.vjs-has-started .vjs-big-play-button,
.vjs-big-play-button {
  display: none;
}
.vjs-controls-disabled .vjs-control-bar,
.vjs-error .vjs-control-bar,
.vjs-using-native-controls .vjs-control-bar {
  display: none !important;
}
.vjs-hidden {
  display: none !important;
}
.video-js[tabindex="-1"] {
  outline: 0;
}
